.DS_Store
.idea
jar
target
src/**/target
src/**/dependency-reduced-pom.xml
build/**/target
build/**/dependency-reduced-pom.xml
doc/javadoc/**
doc/manual/**
!doc/manual/*.tex
!doc/manual/*.md
!doc/javadoc/README.txt
